[Unit]
Description=UniClOGS stationd housekeeping daemon

[Service]
Type=forking
Restart=always
PIDFile=/run/stationd/stationd.pid
ExecStart=/usr/bin/stationd -d -v

[Install]
WantedBy=multi-user.target
